@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --design-color: #E6563B;
    --develop-color: #EB9D3A;
    --support-color: #7CB06C;
    --host-color: #00ABA9;
    --icon-height: 18px;
    --icon-width: 18px;
}

* {
    background-color: #F0F0F0;
}
#title{
    font-family: 'Abel', sans-serif;
}
/*#circle {*/
/*    background: lightblue;*/
/*    border-radius: 50%;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

#heading{
    font-family: 'Anton', sans-serif;
}

ul{
    padding: 0;
}

li {
    list-style: none;
    padding: 0
}

h1{
    font-size: 64px;
}



